* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: rgb(76, 76, 214);
    height: 100vh;
}

.app {
    background-color: #fff;
    width: 60%;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 25px;
    color: #001e4d;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    font-weight: 600;
    color: #001e4d;
    margin-bottom: 15px;
}

.btn {
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
}

.btn:disabled {
    cursor: not-allowed;
    background-color: #f1f1f1;
}

#next-btn {
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none; /* default hidden */
    transition: background-color 0.3s;
}

#next-btn:hover {
    background-color: #003580;
}

.correct {
    background-color: #28a745;
    color: #fff;
}

.incorrect {
    background-color: #dc3545;
    color: #fff;
}
